include ../mixins/sub-menu.pug

header.header 
    .container  
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        img(   src=settingGeneral.logo, alt=settingGeneral.websiteName  )  
            .col-4

                form(
                    action="/search"
                    method="GET"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                            value = keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm
            
            .col-5 
                .inner-menu 
                    ul
                        .row 
                            li 
                                a(href="/") <i class="fa-solid fa-house"></i> Trang chủ
                            li(class = "sub-menu")
                                -const pathProduct = "/products" ;
                                a(href=pathProduct) <i class="fa-solid fa-laptop"></i> Sản phẩm
                                    +sub-menu(layoutProductCategory,pathProduct)
                            li 
                                a(href ="/cart") <i class="fa-solid fa-cart-shopping"></i> Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})
                        .row
                            if(user)
                                li 
                                    a(href ="/user/info") #{user.fullName}
                                li 
                                    a(href ="/user/logout") Đăng xuất
                                li 
                                    a(href ="/users/friends") chat
                                li 
                                    a(href ="/rooms-chat") Nhóm chat
                            else
                                li 
                                    a(href ="/user/register") Đăng ký
                                li 
                                    a(href ="/user/login") Đăng nhập
